{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}

{% block content %}
        <ul class="nav nav-tabs">
            <li><span class="nav-link"}>{{username}}</span></li>
            <li><a class="nav-link" href="/logout"}>登出</a></li>
            <li><a class="nav-link" href="/create">老師課表建立</a></li>
        </ul>

        
        <div class="content container">
            <div class="row">
                <div class="col-md-8 col container">
                    {% for teacher in teachers %}
                    <div class="card m-3">
                        <div class="card-body">
                            <div class="card-title">
                                <a href="/class?name={{teacher.name}}"><h4>{{teacher.name}}</h4></a>
                            </div>
                        </div>    
                    </div>    
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}